

.container {
   max-width: 900px;
   margin: 2rem auto;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.title {
   margin-left: 10px;
}

.newPostButton {
   padding: 0.65rem 1rem;
   border-radius: 100px;
   text-decoration: none;
   background: #0EA5E9;
   color: white;
   font-weight: 600;
   letter-spacing: 0px;
   box-shadow: 0 2px 8px rgba(14, 165, 233, 0.25);
   transition: all 0.3s cubic-bezier(0.2, 0.8, 0.2, 1);
   position: relative;
   overflow: hidden;
   display: inline-flex;
   align-items: center;
   gap: 0.2rem;
   cursor: pointer;
   border: 1.5px solid rgba(14, 165, 233, 0.4);
   font-size: 0.95rem;
}

.newPostButton::before {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 0;
   height: 0;
   border-radius: 50%;
   background: rgba(255, 255, 255, 0.664);
   transform: translate(-50%, -50%);
   pointer-events: none;
}

.newPostButton:hover {
   transform: translateY(-2px);
   box-shadow: 0 8px 20px rgba(14, 165, 233, 0.35);
   background: #0284C7;
}

.newPostButton:hover::before {
   animation: ripple 0.6s ease-out;
}

.newPostButton:active {
   transform: translateY(0);
   box-shadow: 0 2px 8px rgba(14, 165, 233, 0.25);
}


.buttonIcon {
   display: inline-block;
   width: 20px;
   height: 20px;
}

.buttonText {
   display: inline;
}

@media (width <= 640px) {
   .newPostButton {
      padding: 0.5rem;
      font-size: 0.95rem;
      gap: 0;
      border-radius: 6px;
   }

   .buttonIcon {
      width: 24px;
      height: 24px;
   }

   .buttonText {
      display: none;
   }
}

.list {
   display: grid;
   gap: 1rem;
   margin-top: 1rem;
}

.pagination {
   margin-top: 1rem;
   display: flex;
   gap: .5rem;
   justify-content: center;
   align-items: center;
}

.pageButton {
   padding: .35rem .6rem;
   border-radius: 6px;
   border: none;
   background: transparent;
   color: var(--text-primary);
   cursor: pointer;
}

.pageButton[disabled] {
   opacity: .5;
   cursor: not-allowed;
}

.pageInfo {
   padding: 0 .5rem;
}
